#heading{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color: white;
}
.box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: aqua;
    margin: 10px;
    display: inline-block;
}